@font-face {
  font-family: Boril;
  src: url("fonts/Borel/Borel-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

:root {
  --spinner-size: 60px;
  width: 100%;
  height: 100%;
  /* Colors Theme */
  --theme-toggle-bg: #373737;

  --soft-border: #d3d3d3;
  --main-bg-color: #ebebeb;
  --disc-shadow: #292929;
  --player-bg: #ffffff;
  --player-shadow: #adacac;
  --text-color: #000000;
  --play-btn-bg: #eaeaea;
  --progress-bg: #cccbcb;
  --slider-bg: rgb(237, 40, 2);
}
.darkmode {
  /* Colors Theme */
  --theme-toggle-bg: #ffffff;

  --soft-border: #747474;
  --main-bg-color: #252525;
  --disc-shadow: #fff;
  --player-bg: #353535;
  --player-shadow: #000;
  --play-btn-bg: rgb(44, 43, 43);
  --text-color: #fff;
  --progress-bg: #4e4e4e;
  --slider-bg: rgb(255, 72, 0);
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.player {
  padding: 20px;
  width: 300px;
  height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 50px var(--player-shadow);
  background-color: var(--player-bg);
  z-index: 0;
}

.player .song_img {
  animation: none;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  border: 5px solid var(--soft-border);
  outline: none;
  transition: 1s;
  filter: brightness(1.75);
  box-shadow: 0px 0px 25px var(--disc-shadow);
}
.darkmode .song_img {
  filter: none;
}
.player h1 {
  margin: 20px 0px 5px 0px;
  font-size: 20px;
  font-weight: 800;
  color: var(--text-color);
}
.player p {
  font-size: 14px;
  opacity: 0.8;
  color: var(--text-color);
}
.player .progress {
  appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  background: transparent;
  z-index: 2;
}

.player .progress::-webkit-slider-thumb {
  appearance: none;
  background: var(--slider-bg);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid var(--soft-border);
  box-shadow: 0 0px 10px #000;
  outline: none;
  transform: translateY(-50%);
}
.player .progress::-webkit-slider-thumb:active {
  scale: 1.2;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 30px;
}
.controls div {
  background-color: transparent;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.05);
}

.container .playBtn {
  background-color: var(--play-btn-bg);
  box-shadow: 0px 0px 5px var(--text-color);
  transform: scale(1.15);
}
.playBtn i {
  color: var(--text-color);
}
.back i,
.for i {
  transition: color 0.1s ease-in-out;
  color: var(--text-color);
  &:hover {
    color: var(--slider-bg);
  }
}
.comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: Boril;
}

/* Theme Toggle */

button.themeToggle {
  position: absolute;
  border: none;
  background-color: var(--theme-toggle-bg);
  transition: opacity 0.25s ease-in-out;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
  top: 10px;
  left: 10px;
}

button.themeToggle svg {
  fill: var(--main-bg-color);
}
button.themeToggle svg:last-child {
  display: none;
}

.darkmode button.themeToggle svg:last-child {
  display: block;
}
.darkmode button.themeToggle svg:first-child {
  display: none;
}

/* Custom Music Track */

input.progress::-webkit-slider-runnable-track {
  background: transparent;
}
input.progress::-moz-range-track {
  background: transparent;
}
.range-wrap {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #484848;
  border-radius: 10px;
  margin: 40px auto;
}
.range-wrap::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  max-width: 100%;
  width: var(--progress-width, 0%);
  background: var(--slider-bg);
  border-radius: 10px;
  pointer-events: none;
  z-index: 1;
  box-shadow: 0 0 15px var(--slider-bg);
}

#loader {
  position: fixed;
  inset: 0;
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.spinner {
  width: var(--spinner-size);
  height: var(--spinner-size);
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top: 5px solid rgb(2, 188, 148);
  animation: spin 0.75s forwards linear infinite;
  padding: 0;
  margin: 0;
}

#loader.active {
  visibility: visible;
  opacity: 1;
}

@keyframes spin {
  to {
    transform: rotate(720deg);
  }
}

@media (max-width: 768px) {
  .container {
    display: block;
  }
  .player {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}
